*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color:yellow;
}
body{
    background-image: linear-gradient(to right bottom, rgba(8, 181, 77, 0.221),rgba(194, 236, 7, 0.412));
    font-size: 14px;
}
.connect{
    width: 80%;
    margin: 50px auto;
}
.bigbox{
    display: flex;
    background-color: var(--main-color);
}
.box-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.box-right{
    flex-basis: 40%;
    padding: 40px;
    background-color:var(--main-color);
    color: #fff;
}

.connect1 {
    list-style: none;
    position: relative;

}
.connect li a{
    color: var(--main-color);
    text-decoration: none;
} 
.connect p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{

    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 5px;

}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
label{
    display: block;
    margin-bottom: 6px;
    color: #1c00b5;

}
button{
    border-radius: 30px;
    
    margin-top:20px ;
    width: 100px;
    height: 35px;
    background-color: #1c00b5;
    border: none;
    color: #fff;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 30px;

}
.Naruto{
    /* background: #262626; */
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    color:#111111;
    text-transform: uppercase;
    font-size: 2em;
  
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px aqua;
}
.connect1::selection{
    background-color: #44e447;
}
body::-webkit-scrollbar{
    display: none;
}
p:first-child::first-letter{
    font-size: 50px;
    padding-right: 8px;
    float: left;
    /* line-height: 0.5;
    margin: 15px 15px 10px 0; */
}

